<div class="overlay">
    <section class="popup">
        <div class="d-flex justify-content-between align-items-center">
            <h2>{{ isEdit ? 'Edit The Task' : 'Add New Task'}}</h2>
            <fa-icon [icon]="faClose" (click)="onCloseForm()"></fa-icon>
        </div>
        <form class="form-group d-flex flex-column gap-2 my-4" #myForm="ngForm" (ngSubmit)="handleAddOrEdit(myForm)">
            <div class="d-flex flex-column flex-md-row gap-4">
                <div class="w-100 w-md-50">
                    <input #myInput placeholder="Task title..." class="form-control" type="text" name="title" required ngModel/>
                </div>
                <div class="w-100 w-md-50 align-self-end">
                    <select id="priority" class="form-control" name="priority" required ngModel>
                        <option value="" disabled selected hidden>Priority Level</option>
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row gap-4 my-2">
                <div class="w-100 w-md-50">
                    <select id="assignedTo" class="form-control w-100" name="assignedTo" required ngModel>
                        <option value="" disabled selected hidden>Assigned To</option>
                        <option value="trainee">Trainee</option>
                        <option value="junior">Junior</option>
                        <option value="senior">Senior</option>
                        <option value="master">Master</option>
                    </select>
                </div>
                <div class="w-100 w-md-50">
                    <select id="status" class="form-control" name="status" required ngModel>
                        <option value="" disabled selected hidden>Status</option>
                        <option value="started">Started</option>
                        <option value="in-progress">In-progress</option>
                        <option value="complete">Complete</option>
                    </select>
                </div>
            </div>
            <textarea placeholder="Description..." class="form-control" name="description" required ngModel
            style="height: 150px; resize: none"></textarea>
            <button class="btn btn-info mt-3" type="submit" [disabled]="myForm.invalid">{{ isEdit ? 'Edit Task' : 'Add Task' }}</button>
        </form>
    </section>
</div>