@if (isLoading) {
    <div class="overlay">
        <div class="popup">
            <h4 class="my-3">Data is being fetched...</h4>
            <span class="spin"></span>
        </div>
    </div>
} @else {
    <div class="d-flex flex-wrap gap-5">
        @for (task of tasks; track $index) {
            <section class="my-3 bg-dark p-4" [ngClass]="task.status">
                <div class="flipper">
                    <div class="front rounded-3">
                        <p><strong>Title: </strong>{{ task.title }}</p>
                        <p><strong>Priority: </strong>{{ task.priority }}</p>
                        <p><strong>Assinged to: </strong>{{ task.assignedTo }}</p>
                        <p><strong>Status: </strong>{{ task.status }}</p>
                    </div>
                    <div class="back rounded-3">
                        <p><strong>Description: </strong>{{ task.description }}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3 gap-2">
                    <fa-icon title="Delete Task" [icon]="faDelete" (click)="handleDelete(task.id)"></fa-icon>
                    <fa-icon title="Edit Task" [icon]="faEdit" (click)="selectTask(task.id)"></fa-icon>
                </div>
            </section>
        } @empty {
            <p class="text-white">No task is created yet!</p>
        }
    </div>
}